body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    background-image: url(/images/pexels-zaksheuskaya-1561020.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    font-size: 16px;
    /* background-color: #dc39f569; */
}

* {
    box-sizing: border-box;
    line-height: 29px;
}

/* Nav Bar*/
.nav-togel {
    color: #0d6efd;
}

.nav {
    background-color: #00000018;
}

/* MAIN Container */

h1 {
    padding: 40px;
    padding-left: 30%;
}

.container_main {
    width: 400px;
    background-color: #ffff;
    border: 2px solid black;
    border-radius: 10px;
    margin: 30px auto;
    justify-content: center
}

.input_field {
    padding: 0 70px;
    font-weight: 700;
}

.my-field {
    width: 80%;

}

.form_field {
    border: 0;
    border-bottom: 1px solid #888888;
}

.forget-pass {
    float: inline-end;
    text-decoration: none;
    color: #888888;
    margin-bottom: 20px;
}

.login-btn {
    color: #000000;
    width: 100%;
    border-radius: 40px;
    margin: 10px auto;
    margin-bottom: 30px;
    background-image: url(/images/pexels-zaksheuskaya-1561020.jpg);

}

.sign {
    text-decoration: none;
    color: #888888;
    padding-left: 30%;
}

.media-icon {
    width: 100%;
    display: flex;
    padding: 20px 110px;
    gap: 15px;
}

.facebook {
    height: 40px;
    width: 40px;
    margin: 30px auuto;

    background-image: url(images/facebook-app-round-icon.png);
    background-size: cover;
}

.instagram {
    height: 40px;
    width: 40px;
    background-image: url(images/ig-instagram-icon.png);
    background-size: cover;
}


.google {
    height: 40px;
    width: 40px;
    background-image: url(images/google-color-icon.png);
    background-size: cover;
}